header.jumbotron {
    background-color: rgb(56, 54, 54);
    color: rgb(255, 255, 255);
}

section.sideBar {
    background-color: rgb(227, 234, 238);
}

div.currentWeather {
    width:100%;
    height: auto;
    border: 1px solid black;
    border-radius: 15px;
}

span.currentUVIndexValue {
    border-radius: 10%;
    padding: 5px;
    color: rgb(255, 255, 255);
}

div.forecastContent {
    width:100%;
    height: auto;
    background-color: rgb(49, 114, 235);
    border: 1px solid black;
    border-radius: 15px;
    color: rgb(255, 255, 255);
}